USE [master]
GO
/****** Object:  Database [Giros]    Script Date: 25/05/2022 7:13:59 a. m. ******/
CREATE DATABASE [Giros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Giros', FILENAME = N'C:\Users\jaime pc\Giros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Giros_log', FILENAME = N'C:\Users\jaime pc\Giros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Giros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Giros]
GO
/****** Object:  Table [dbo].[CIUDADES]    Script Date: 25/05/2022 7:14:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDADES](
	[id_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[id_pais] [int] NOT NULL,
 CONSTRAINT [PK_CIUDADES] PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIROS]    Script Date: 25/05/2022 7:14:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIROS](
	[GIR_GIRO_ID] [int] IDENTITY(1,1) NOT NULL,
	[GIR_RECIBO] [varchar](50) NOT NULL,
	[GIR_CIUDAD_ID] [int] NOT NULL,
 CONSTRAINT [PK_GIROS] PRIMARY KEY CLUSTERED 
(
	[GIR_GIRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAISES]    Script Date: 25/05/2022 7:14:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAISES](
	[id_pais] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PAISES] PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CIUDADES] ON 

INSERT [dbo].[CIUDADES] ([id_ciudad], [nombre], [id_pais]) VALUES (1, N'BARRANQUILLA', 1)
INSERT [dbo].[CIUDADES] ([id_ciudad], [nombre], [id_pais]) VALUES (2, N'BARRANCABERMEJA', 1)
INSERT [dbo].[CIUDADES] ([id_ciudad], [nombre], [id_pais]) VALUES (3, N'NEIVA', 1)
SET IDENTITY_INSERT [dbo].[CIUDADES] OFF
GO
SET IDENTITY_INSERT [dbo].[GIROS] ON 

INSERT [dbo].[GIROS] ([GIR_GIRO_ID], [GIR_RECIBO], [GIR_CIUDAD_ID]) VALUES (1, N'RECIBO-XXX', 1)
INSERT [dbo].[GIROS] ([GIR_GIRO_ID], [GIR_RECIBO], [GIR_CIUDAD_ID]) VALUES (3, N'RECIBO-ZZZ', 1)
INSERT [dbo].[GIROS] ([GIR_GIRO_ID], [GIR_RECIBO], [GIR_CIUDAD_ID]) VALUES (5, N'RECIBO-BBB', 2)
SET IDENTITY_INSERT [dbo].[GIROS] OFF
GO
SET IDENTITY_INSERT [dbo].[PAISES] ON 

INSERT [dbo].[PAISES] ([id_pais], [nombre]) VALUES (1, N'COLOMBIA')
INSERT [dbo].[PAISES] ([id_pais], [nombre]) VALUES (2, N'CHILE')
INSERT [dbo].[PAISES] ([id_pais], [nombre]) VALUES (3, N'ECUADOR')
SET IDENTITY_INSERT [dbo].[PAISES] OFF
GO
ALTER TABLE [dbo].[CIUDADES]  WITH CHECK ADD  CONSTRAINT [FK_CIUDADES_PAISES] FOREIGN KEY([id_pais])
REFERENCES [dbo].[PAISES] ([id_pais])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CIUDADES] CHECK CONSTRAINT [FK_CIUDADES_PAISES]
GO
ALTER TABLE [dbo].[GIROS]  WITH CHECK ADD  CONSTRAINT [FK_GIROS_CIUDADES1] FOREIGN KEY([GIR_CIUDAD_ID])
REFERENCES [dbo].[CIUDADES] ([id_ciudad])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GIROS] CHECK CONSTRAINT [FK_GIROS_CIUDADES1]
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Cuidades]    Script Date: 25/05/2022 7:14:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Mostrar_Cuidades]  
    	
AS   
BEGIN
 SET NOCOUNT ON
SELECT  CIUDADES.id_ciudad, CIUDADES.nombre AS CIUDAD, PAISES.nombre AS PAIS
from CIUDADES
INNER JOIN PAISES ON PAISES.id_pais= CIUDADES.id_pais
ORDER BY [id_ciudad]
END;   
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Detale]    Script Date: 25/05/2022 7:14:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Mostrar_Detale]  
   @p_IdCiudad INT 
AS   
BEGIN
SET NOCOUNT ON
SELECT  GIROS.GIR_GIRO_ID,GIROS.GIR_RECIBO,GIROS.GIR_CIUDAD_ID
from CIUDADES
INNER JOIN GIROS ON CIUDADES.id_ciudad= GIROS.GIR_CIUDAD_ID
WHERE GIROS.GIR_CIUDAD_ID=1
ORDER BY [id_ciudad]
OFFSET 0 ROWS
FETCH first 4 ROWS ONLY
END;   

GO
/****** Object:  StoredProcedure [dbo].[MostrarNombreCiudad]    Script Date: 25/05/2022 7:14:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MostrarNombreCiudad]  
   @p_IdCiudad INT 
AS   
BEGIN
SET NOCOUNT ON
SELECT  CIUDADES.nombre 
from CIUDADES
WHERE CIUDADES.id_ciudad=@p_IdCiudad;
END;   

GO
USE [master]
GO
